#header {
    height: 50px;
    background-color: #df3b5b;
    color: #fff;
}

h1{
    font-weight: 700;
}

#branding h1{
    color: #fff;
    font-weight: 700;
}

a:link,
a:visited{
    color: #33334b;
}

div.breadcrumbs{
    background-color: #df3b5b;
    color: #fff;
}

div.breadcrumbs a{
    color: #333;
}

.module h2, .module caption, .inline-group h2{
    background-color: #b2c65b;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background-color: #df3b5b;
    color: #fff;
}