/*Css For navigation bar and top bar and footer*/
#topBar{
	background-color: #17182d;
}
#topBar a{
	color: white!important;
}

.navbar{
	background-color: #21212f!important;
}


.carousel-control-next, .carousel-control-prev {
	width: 5%;
}
.activeReddish{
	color: #df3b5b;
}

footer{
	background-color: #17182d; 
	color: white;
	padding: 20px;
	margin-top: 10px;
	text-align: justify;
}

footer .media-footer a{
	color: white!important;
}

#copyright-bar{
	background-color: #0b091c;
}


/*Css for Product Page*/
.cut_price{
	color: red;
}

.discount_price{
	color: green;
}

/*CSS for Contact Page*/
.bg-mainColor{
	background-color: #17182d;
}